# node modules
node_modules/

# rpm build
rpmbuild/
dist/new_build/

# docs build
_build/
redoc-static.html

# coverage
coverage/
.nyc_output/

# audit report
.auditReport.json

# local test directory/files
logs/
test/functional/logs/
test/functional/*_harness_file.json
**/.terraform/*
*.tfstate*
terraform
terraform.zip
terraform.tfvars
!terraform/

# virtual envs
venv/

# deployment info
deployment/
deployment_info.json

# misc
.vscode/
**/.DS_Store
.idea/*
temp_*
sdk/dist/*
env.sh
test/test/*