# node modules
node_modules/
# rpm build
rpmbuild/
dist/new_build/
# docs build
_build/
redoc-static.html
# coverage
coverage/
.nyc_output/
# local test directory/files
test/functional/logs/
test/functional/*_harness_file.json
**/.terraform/*
*.tfstate*
terraform
terraform.zip
# virtual envs
venv/
# deployment info
deployment_info.json
# misc
.vscode/
**/.DS_Store
.idea/*
temp_*
sdk/dist/*