--extra-index-url https://***REMOVED***/artifactory/api/pypi/f5-cloud-solutions-pypi/simple
f5-cloud-cli==0.9.0
# doc requirements
awscli
f5-sphinx-theme>=1.0.5
sphinx>=1.7.0
recommonmark
sphinxjp.themes.basicstrap
cloud_sptheme
sphinx_copybutton
